$v-color-background: var(--color-background);

$v-color-text: var(--color-text);

$v-color-link: var(--color-link);
$v-color-link-active: var(--color-link-active);

$v-color-border: var(--color-border);
